* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.custom-nav{
    width: 100vw;
    height: 100%;
    padding: 10px 0;
}

.shoe-shop-label {
    font-weight: bold;
    font-size: 1.2rem;
}

.input-text {
    display: none;
}

.search-component {
    background-color: rgb(196, 196, 196);
    height: 37px;
    border-radius: 3px;
}

.search-component input {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
}

.navigate {
    position: absolute;
    left: 0;
    top: 58px;
    width: 40%;
    bottom: 0;
    background-color: white;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    transform: translateX(-100%);
    transition: all .5s;
}

.navigate.show {
    transform: translateX(0);
}

.navigate ul li {
    width: 100%;
    display: block;
}

.bar-icon {
    display: block;
}

.shoe-shop-label {
    font-size: 20px;
}

.links {
    color: rgb(50, 50, 50);
}

@media screen and (min-width: 576px) {
    .shoe-shop-label {
        display: none;
    }

    .input-text {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .bar-icon {
        display: none;
    }

    .navigate {
        position: static;
        width: 100%;
        border-right: none;
        border-top: none;
        transform: none;
    }

    .navigate ul li {
        width: auto;
        display: inline;
    }
}

@media screen and (max-width: 992px) {
    .links {
        font-size: 12px;
    }
}